<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js_sample</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="myName" placeholder="お名前">
        <p>私は{{myName}}です</p>
        <label>
            <input type="checkbox" v-model="myCheck">
            チェックボックスは、{{myCheck}}
        </label>
        <div>
            <label><input type="checkbox" value="red" v-model="myChecks">赤</label>
            <label><input type="checkbox" value="blue" v-model="myChecks">青</label>
            <label><input type="checkbox" value="green" v-model="myChecks">緑</label>
            選択されたのは{{myChecks}}
        </div>
        <div>
            <label><input type="checkbox" v-model="myAgree">同意します</label>
            <button v-bind:disabled="myAgree==false">送信</button>
        </div>
        <div>
            <label><input type="radio" value="../img/yohane1.jpg" v-model="picked">赤</label>
            <label><input type="radio" value="blue" v-model="picked">青</label>
            <label><input type="radio" value="green" v-model="picked">緑</label>
            {{picked}}を選択
            <img v-bind:src="picked" alt="">
        </div>
        <div>
            <select v-model="myColor" multiple>
                <option disabled value="">非選択時</option>
                <option>blue</option>
                <option>green</option>
                <option>red</option>
            </select>
            <p v-bind:style="{color:myColor}">{{myColor}}を選択</p>
        </div>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                myName:'',
                myCheck:false,
                myChecks:[],
                myAgree:false,
                picked:'',
                myColor:''
            }
        })
    </script>
</body>
</html>